@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  max-width: 800px;
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
h2{
  font-size: 40px;
  font-weight: bold;
}

.parafo{
  font-size: 30px;
}

header{
  border-width: 1px;
  margin: 1px;
  display: flex;
}

header img{
  height: 500px;
}
.titulo{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.section{
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.section img{
  max-width: 100%;
  height: auto;
}

.text{
  width: 50%;
}

.secti-2{
  background-color: #25eda5;
}

.titu-sec{
  text-align: center;
  justify-content: space-between;
}

.section2{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.celdas-imagenes{
  width: 25%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

.celdas-imagenes img{
  max-width: 100%;

}

.section3{
  display: flex;
  align-items: center;
}

.section3 img{
  max-width: 100%;
  height: auto;

}
.section4{
  display: flex;
  align-items: center;
}
.section4 img{
  max-width: 25%;
  height: auto; 
}
.section5{
  justify-content: space-between;
  background-color: #46a6fc;
  text-align: center;
}

footer{
  display: flex;
  text-align:left;
  background-color: black;
  color: white;
}
.foo1{
  padding-left: 2%;
  width: 50%;
}
.foo2{
  width: 25%;
}

@media (max-width: 700px){
  

}